flows.json
[{"id":"1bec09f8.8be9e6","type":"tab","label":"Sensors Request","disabled":false,"info":""},{"id":"4ee457536bade357","type":"tab","label":"Render","disabled":false,"info":"","env":[]},{"id":"9378302e0e7e1c22","type":"tab","label":"PWS","disabled":false,"info":"","env":[]},{"id":"332a78fa37f117d8","type":"tab","label":"Air Quality","disabled":false,"info":"","env":[]},{"id":"a0bf23683bf19dc8","type":"tab","label":"Zigbee2MQTT","disabled":false,"info":"","env":[]},{"id":"06e8cf1979364594","type":"tab","label":"Phoscon/deCONZ","disabled":false,"info":"","env":[]},{"id":"65d068f23d4fb4d3","type":"tab","label":"TTN","disabled":false,"info":"","env":[]},{"id":"ee25042df854f785","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"c1f2ad1917983f1a","type":"mqtt-broker","name":"cLaNk! MQTT Node-Red","broker":"broker.mosquitto.svc.cluster.local","port":"1883","clientid":"org.clank.node-red","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":"120"},{"id":"ac2eb1361fd377dc","type":"mqtt-broker","name":"cLaNk! MQTT AirNow","broker":"broker.mosquitto.svc.cluster.local","port":"1883","clientid":"org.clank.node-red-aqi","autoConnect":true,"usetls":false,"protocolVersion":"5","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"626b68d35c240c5e","type":"mqtt-broker","name":"thethings.network E4:70","broker":"nam1.cloud.thethings.network","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"7d1fad91498d6624","type":"mqtt-broker","name":"thethings.network BE:AD","broker":"nam1.cloud.thethings.network","port":"8883","tls":"","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"e5edf12790632293","type":"http request","z":"1bec09f8.8be9e6","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":630,"y":120,"wires":[["efaf5fa75c29d419"]]},{"id":"6b6b816b7ac45ea4","type":"http in","z":"1bec09f8.8be9e6","name":"","url":"/sensors","method":"get","upload":false,"swaggerDoc":"","x":110,"y":120,"wires":[["84871085fa260ede"]]},{"id":"7f0fe51007dddec8","type":"template","z":"1bec09f8.8be9e6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<tr>\n    <td>{{payload.name}}</td>\n    <td class=\"status\">{{{payload.status.daylight}}}</td>\n    <td class=\"status\">{{{payload.status.dark}}}</td>\n    <td class=\"status\">{{{payload.status.on}}}</td>\n    <td class=\"status\">{{{payload.status.battery}}}</td>\n    <td class=\"status\">{{{payload.status.reachable}}}</span></td>\n    <td>\n        <a class=\"ui-button ui-widget ui-corner-all\" href=\"/sensors/view/{{key}}\">View</a>\n        <a class=\"ui-button ui-widget ui-corner-all\" href=\"/sensors/edit/{{key}}\">Edit</a>\n        <a class=\"ui-button ui-widget ui-corner-all\" href=\"/sensors/rename/{{key}}\">Rename</a>\n    </td>\n</tr>","output":"str","x":1140,"y":120,"wires":[["d73c30c0cd19933f"]]},{"id":"efaf5fa75c29d419","type":"split","z":"1bec09f8.8be9e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"key","x":790,"y":120,"wires":[["fa1ec9ae1ab4e208"]]},{"id":"d73c30c0cd19933f","type":"join","z":"1bec09f8.8be9e6","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1290,"y":120,"wires":[["182ed4943b0b327e"]]},{"id":"46f427d5f63aefbb","type":"template","z":"1bec09f8.8be9e6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"sensors index\">\n    <table>\n        <thead>\n            <tr>\n                <th>Device</th>\n                <th colspan=\"5\">Status</th>\n                <th>Actions</th>\n            </tr>\n        </thead>\n        <tbody>\n        {{{payload}}}\n        </tbody>\n    </table>\n</div>\n","output":"str","x":1640,"y":120,"wires":[["453a4ba13c642648"]]},{"id":"182ed4943b0b327e","type":"change","z":"1bec09f8.8be9e6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$join($each(payload, function($v, $k) {$v}), \"\\n\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":120,"wires":[["46f427d5f63aefbb"]]},{"id":"29d43f6a02669a3f","type":"http response","z":"1bec09f8.8be9e6","name":"","statusCode":"","headers":{},"x":1150,"y":800,"wires":[]},{"id":"22ac2a1866ca3b0a","type":"http request","z":"1bec09f8.8be9e6","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":690,"y":400,"wires":[["4c255f215a918abe"]]},{"id":"b30e30a40655bc12","type":"template","z":"1bec09f8.8be9e6","name":"Daylight","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table>\n    <thead>\n        <tr><th colspan=\"2\">Status</th></tr>\n    </thead>\n    <tbody>\n        <tr><td>Daylight:</td><td>{{payload.state.daylight}}</td></tr>\n        <tr><td>Sunrise:</td><td>{{payload.state.sunrise}}</td></tr>\n        <tr><td>Sunset:</td><td>{{payload.state.sunset}}</td></tr>\n        <tr><td>Updated:</td><td>{{payload.state.lastupdated}}</td></tr>\n    </tbody>\n    <thead>\n        <tr><th colspan=\"2\">Configuration</th></tr>\n    </thead>\n    <tbody>\n        {{#payload.config.configured}}\n        <tr><td>Configured:</td><td>{{payload.config.configured}}</td></tr>\n        {{/payload.config.configured}}\n        {{#payload.config.reachable}}\n        <tr><td>Reachable:</td><td>{{payload.config.reachable}}</td></tr>\n        {{/payload.config.reachable}}\n        {{#payload.config.on}}\n        <tr><td>On:</td><td>{{payload.config.on}}</td></tr>\n        {{/payload.config.on}}\n        {{#payload.config.battery}}\n        <tr><td>Battery:</td><td>{{payload.config.battery}}</td></tr>\n        {{/payload.config.battery}}\n        <tr><td>Sunrise offset:</td><td>{{payload.config.sunriseoffset}}</td></tr>\n        <tr><td>Sunset offset:</td><td>{{payload.config.sunsetoffset}}</td></tr>\n    </tbody>\n</table>","output":"str","x":1180,"y":360,"wires":[["41943894b3c0e3da"]]},{"id":"dc437491b84d4e39","type":"template","z":"1bec09f8.8be9e6","name":"ZHALightLevel","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<table>\n    <thead>\n        <tr><th colspan=\"2\">Status</th></tr>\n    </thead>\n    </thead>\n    <tbody>\n        <tr><td>Dark:</td><td>{{payload.state.dark}}</td></tr>\n        <tr><td>Daylight:</td><td>{{payload.state.daylight}}</td></tr>\n        <tr><td>Light level:</td><td>{{payload.state.lightlevel}}</td></tr>\n        <tr><td>Lux:</td><td>{{payload.state.lux}}</td></tr>\n        <tr><td>Updated:</td><td>{{payload.state.lastupdated}}</td></tr>\n    </tbody>\n    <thead>\n        <tr><th colspan=\"2\">Configuration</th></tr>\n    </thead>\n    <tbody>\n        {{#payload.config.configured}}\n        <tr><td>Configured:</td><td>{{payload.config.configured}}</td></tr>\n        {{/payload.config.configured}}\n        {{#payload.config.reachable}}\n        <tr><td>Reachable:</td><td>{{payload.config.reachable}}</td></tr>\n        {{/payload.config.reachable}}\n        {{#payload.config.on}}\n        <tr><td>On:</td><td>{{payload.config.on}}</td></tr>\n        {{/payload.config.on}}\n        {{#payload.config.battery}}\n        <tr><td>Battery:</td><td>{{payload.config.battery}}</td></tr>\n        {{/payload.config.battery}}\n        <tr><td>Threshold dark:</td><td>{{payload.config.tholddark}}</td></tr>\n        <tr><td>Threshold offset:</td><td>{{payload.config.tholdoffset}}</td></tr>\n    </tbody>\n</table>","output":"str","x":1200,"y":400,"wires":[["41943894b3c0e3da"]]},{"id":"1d06a021f8e7301d","type":"switch","z":"1bec09f8.8be9e6","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"Daylight","vt":"str"},{"t":"eq","v":"ZHALightLevel","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1030,"y":400,"wires":[["b30e30a40655bc12"],["dc437491b84d4e39"],["a1ad25006aab6580"]]},{"id":"41943894b3c0e3da","type":"template","z":"1bec09f8.8be9e6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"sensors view\">\n{{{payload}}}\n</div>","output":"str","x":1480,"y":400,"wires":[["db6db677c8972917"]]},{"id":"a1ad25006aab6580","type":"json","z":"1bec09f8.8be9e6","name":"","property":"payload","action":"","pretty":true,"x":1170,"y":440,"wires":[["aad6ee3b67541ff2"]]},{"id":"aad6ee3b67541ff2","type":"template","z":"1bec09f8.8be9e6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<pre>{{payload}}</pre>","output":"str","x":1320,"y":440,"wires":[["41943894b3c0e3da"]]},{"id":"7c4c8667741afaba","type":"template","z":"1bec09f8.8be9e6","name":"Daylight","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<form method=\"POST\">\n    <table>\n        <thead>\n            <tr><th colspan=\"2\">Status</th></tr>\n        </thead>\n        <tbody>\n            <tr><td>Daylight:</td><td>{{payload.state.daylight}}</td></tr>\n            <tr><td>Sunrise:</td><td>{{payload.state.sunrise}}</td></tr>\n            <tr><td>Sunset:</td><td>{{payload.state.sunset}}</td></tr>\n            <tr><td>Updated:</td><td>{{payload.state.lastupdated}}</td></tr>\n        </tbody>\n        <thead>\n            <tr><th colspan=\"2\">Configuration</th></tr>\n        </thead>\n        <tbody>\n            {{#payload.config.configured}}\n            <tr><td>Configured:</td><td>{{payload.config.configured}}</td></tr>\n            {{/payload.config.configured}}\n            {{#payload.config.reachable}}\n            <tr><td>Reachable:</td><td>{{payload.config.reachable}}</td></tr>\n            {{/payload.config.reachable}}\n            {{#payload.config.on}}\n            <tr><td>On:</td><td>{{payload.config.on}}</td></tr>\n            {{/payload.config.on}}\n            {{#payload.config.battery}}\n            <tr><td>Battery:</td><td>{{payload.config.battery}}</td></tr>\n            {{/payload.config.battery}}\n            <tr><td>Sunrise offset:</td><td><input name=\"sunriseoffset\" type=\"text\" value=\"{{{payload.config.sunriseoffset}}}\"></td></tr>\n            <tr><td>Sunset offset:</td><td><input name=\"sunsetoffset\" type=\"text\" value=\"{{{payload.config.sunsetoffset}}}\"></td></tr>\n        </tbody>\n    </table>\n    <input class=\"ui-button ui-widget ui-corner-all\" type=\"submit\" value=\"Update\">\n</form>","output":"str","x":1180,"y":540,"wires":[["52fc969ead30e54a"]]},{"id":"258ec61d0582c62b","type":"template","z":"1bec09f8.8be9e6","name":"ZHALightLevel","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<form method=\"POST\">\n    <table>\n        <thead>\n            <tr><th colspan=\"2\">Status</th></tr>\n        </thead>\n        <tbody>\n            <tr><td>Dark:</td><td>{{payload.state.dark}}</td></tr>\n            <tr><td>Daylight:</td><td>{{payload.state.daylight}}</td></tr>\n            <tr><td>Light level:</td><td>{{payload.state.lightlevel}}</td></tr>\n            <tr><td>Lux:</td><td>{{payload.state.lux}}</td></tr>\n            <tr><td>Updated:</td><td>{{payload.state.lastupdated}}</td></tr>\n        </tbody>\n        <thead>\n            <tr><th colspan=\"2\">Configuration</th></tr>\n        </thead>\n        <tbody>\n            {{#payload.config.configured}}\n            <tr><td>Configured:</td><td>{{payload.config.configured}}</td></tr>\n            {{/payload.config.configured}}\n            {{#payload.config.reachable}}\n            <tr><td>Reachable:</td><td>{{payload.config.reachable}}</td></tr>\n            {{/payload.config.reachable}}\n            {{#payload.config.on}}\n            <tr><td>On:</td><td>{{payload.config.on}}</td></tr>\n            {{/payload.config.on}}\n            {{#payload.config.battery}}\n            <tr><td>Battery:</td><td>{{payload.config.battery}}</td></tr>\n            {{/payload.config.battery}}\n            <tr><td>Threshold dark:</td><td><input name=\"tholddark\" type=\"text\" value=\"{{{payload.config.tholddark}}}\"></td></tr>\n            <tr><td>Threshold offset:</td><td><input name=\"tholdoffset\" type=\"text\" value=\"{{{payload.config.tholdoffset}}}\"></td></tr>\n        </tbody>\n    </table>\n    <input class=\"ui-button ui-widget ui-corner-all\" type=\"submit\" value=\"Update\">\n</form>\n","output":"str","x":1200,"y":580,"wires":[["52fc969ead30e54a"]]},{"id":"375a8c9a1b5fcfe8","type":"switch","z":"1bec09f8.8be9e6","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"Daylight","vt":"str"},{"t":"eq","v":"ZHALightLevel","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":3,"x":1030,"y":580,"wires":[["7c4c8667741afaba"],["258ec61d0582c62b"],["a51dd4765af6ab98"]]},{"id":"52fc969ead30e54a","type":"template","z":"1bec09f8.8be9e6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"sensors edit\">\n{{{payload}}}\n</div>","output":"str","x":1480,"y":580,"wires":[["31d957a00025db36"]]},{"id":"a51dd4765af6ab98","type":"json","z":"1bec09f8.8be9e6","name":"","property":"payload","action":"","pretty":true,"x":1170,"y":620,"wires":[["1116f04549b522bd"]]},{"id":"1116f04549b522bd","type":"template","z":"1bec09f8.8be9e6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<pre>{{payload}}</pre>","output":"str","x":1320,"y":620,"wires":[["52fc969ead30e54a"]]},{"id":"db6db677c8972917","type":"link out","z":"1bec09f8.8be9e6","name":"","mode":"link","links":["d1614594fc2eea74","23e21e0e595938a6","8751edd62af1136d"],"x":1595,"y":400,"wires":[]},{"id":"31d957a00025db36","type":"link out","z":"1bec09f8.8be9e6","name":"","mode":"link","links":["d1614594fc2eea74","23e21e0e595938a6","8751edd62af1136d"],"x":1595,"y":580,"wires":[]},{"id":"81a6d6824f6b8529","type":"http request","z":"1bec09f8.8be9e6","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":710,"y":760,"wires":[["6cc43e134d472e5b"]]},{"id":"6cc43e134d472e5b","type":"switch","z":"1bec09f8.8be9e6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"Errors","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":870,"y":760,"wires":[["594ad32a6fdab4ca"],["7792f1523c529e3d"]]},{"id":"7e1f957017426fc0","type":"change","z":"1bec09f8.8be9e6","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Location\": \"/sensors/view/\" & msg.req.params.key}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":760,"wires":[["cb0ba705e97b6a94"]]},{"id":"cb0ba705e97b6a94","type":"http response","z":"1bec09f8.8be9e6","name":"","statusCode":"302","headers":{},"x":1380,"y":760,"wires":[]},{"id":"594ad32a6fdab4ca","type":"json","z":"1bec09f8.8be9e6","name":"","property":"payload.Errors","action":"","pretty":false,"x":1010,"y":720,"wires":[["784abd1cc43e2aa8"]]},{"id":"784abd1cc43e2aa8","type":"template","z":"1bec09f8.8be9e6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>\n    <pre>\n        {{payload}}  \n    </pre>\n</div>","output":"str","x":1160,"y":720,"wires":[["c0be71def0f18b3f"]]},{"id":"c0be71def0f18b3f","type":"link out","z":"1bec09f8.8be9e6","name":"","mode":"link","links":["d1614594fc2eea74","23e21e0e595938a6","8751edd62af1136d"],"x":1275,"y":720,"wires":[]},{"id":"fbb60fe62259ddc7","type":"http request","z":"1bec09f8.8be9e6","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":710,"y":900,"wires":[["f063be14ddcff812"]]},{"id":"33d66d6db84b72bc","type":"template","z":"1bec09f8.8be9e6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"sensors rename\">\n    <form method=\"POST\">\n        <label for=\"name\">New name:</label>\n        <input name=\"name\" type=\"text\" value=\"{{{payload.name}}}\">\n        <input class=\"ui-button ui-widget ui-corner-all\" type=\"submit\" value=\"Update\">\n    </form>\n</div>","output":"str","x":1080,"y":900,"wires":[["24f643c3b0c4da83"]]},{"id":"24f643c3b0c4da83","type":"link out","z":"1bec09f8.8be9e6","name":"","mode":"link","links":["8751edd62af1136d"],"x":1195,"y":900,"wires":[]},{"id":"b0525aa83030be41","type":"http response","z":"1bec09f8.8be9e6","name":"","statusCode":"","headers":{},"x":1170,"y":1080,"wires":[]},{"id":"d8413baae478134b","type":"http request","z":"1bec09f8.8be9e6","name":"","method":"PUT","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":730,"y":1040,"wires":[["ee3af21b56c6f07a"]]},{"id":"ee3af21b56c6f07a","type":"switch","z":"1bec09f8.8be9e6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"hask","v":"Errors","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":890,"y":1040,"wires":[["d74caeda11d09a7c"],["8a6d8b34c82e0a29"]]},{"id":"cead931fa953c730","type":"change","z":"1bec09f8.8be9e6","name":"","rules":[{"t":"set","p":"headers","pt":"msg","to":"{\"Location\": \"/sensors/view/\" & msg.req.params.key}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":1040,"wires":[["4b5446fb0c2d1a9e"]]},{"id":"4b5446fb0c2d1a9e","type":"http response","z":"1bec09f8.8be9e6","name":"","statusCode":"302","headers":{},"x":1400,"y":1040,"wires":[]},{"id":"d74caeda11d09a7c","type":"json","z":"1bec09f8.8be9e6","name":"","property":"payload.Errors","action":"","pretty":false,"x":1030,"y":1000,"wires":[["7c9d81f5dafe4e05"]]},{"id":"7c9d81f5dafe4e05","type":"template","z":"1bec09f8.8be9e6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div>\n    <pre>\n        {{payload}}  \n    </pre>\n</div>","output":"str","x":1180,"y":1000,"wires":[["fda1ab15b1d91018"]]},{"id":"fda1ab15b1d91018","type":"link out","z":"1bec09f8.8be9e6","name":"","mode":"link","links":["d1614594fc2eea74","23e21e0e595938a6","8751edd62af1136d"],"x":1295,"y":1000,"wires":[]},{"id":"072f6ff7d9333984","type":"change","z":"1bec09f8.8be9e6","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"All Sensors","tot":"str"},{"t":"set","p":"actions","pt":"msg","to":"[{\"link\":\"Light levels\",\"target\":\"/sensors/light\"}]","tot":"jsonata"},{"t":"set","p":"url","pt":"msg","to":"$globalContext(\"apiUri\") & $globalContext(\"apiKey\") & \"/sensors\"","tot":"jsonata"},{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":120,"wires":[["e5edf12790632293"]]},{"id":"84871085fa260ede","type":"link call","z":"1bec09f8.8be9e6","name":"","links":["83388d75ad0462f1"],"timeout":"30","x":270,"y":120,"wires":[["072f6ff7d9333984"]]},{"id":"066a6ddf279de38e","type":"http request","z":"1bec09f8.8be9e6","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":690,"y":580,"wires":[["1b6322bda09fa3ae"]]},{"id":"7792f1523c529e3d","type":"switch","z":"1bec09f8.8be9e6","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1010,"y":780,"wires":[["7e1f957017426fc0"],["29d43f6a02669a3f"]]},{"id":"8a6d8b34c82e0a29","type":"switch","z":"1bec09f8.8be9e6","name":"","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1030,"y":1060,"wires":[["cead931fa953c730"],["b0525aa83030be41"]]},{"id":"876a4b987793231b","type":"http request","z":"1bec09f8.8be9e6","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":670,"y":240,"wires":[["b71177e75c035677"]]},{"id":"512ffcf7188a3c0a","type":"http in","z":"1bec09f8.8be9e6","name":"","url":"/sensors/light","method":"get","upload":false,"swaggerDoc":"","x":130,"y":240,"wires":[["e1f17ece46a2f212"]]},{"id":"133d4bf4da479d7a","type":"template","z":"1bec09f8.8be9e6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<tr>\n    <td>{{payload.name}}</td>\n    <td>{{payload.state.lightlevel}}</td>\n    <td>{{payload.state.lux}}</td>\n    <td>{{payload.state.lastupdated}}</td>\n    <td class=\"status\">{{{payload.status.daylight}}}</td>\n    <td class=\"status\">{{{payload.status.dark}}}</td>\n    <td class=\"status\">{{{payload.status.on}}}</td>\n    <td class=\"status\">{{{payload.status.battery}}}</td>\n    <td class=\"status\">{{{payload.status.reachable}}}</span></td>\n    <td>\n        <a class=\"ui-button ui-widget ui-corner-all\" href=\"/sensors/view/{{key}}\">View</a>\n    </td>\n</tr>","output":"str","x":1320,"y":220,"wires":[["ae12caef03e9925c"]]},{"id":"b71177e75c035677","type":"split","z":"1bec09f8.8be9e6","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"key","x":830,"y":240,"wires":[["be8fd716cde8c12e"]]},{"id":"8118a1618ee739a0","type":"template","z":"1bec09f8.8be9e6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<div class=\"sensors index\">\n    <table>\n        <thead>\n            <tr>\n                <th>Device</th>\n                <th>Light level</th>\n                <th>Lux</th>\n                <th>Updated</th>\n                <th colspan=\"5\">Status</th>\n                <th>Actions</th>\n            </tr>\n        </thead>\n        <tbody>\n        {{{payload}}}\n        </tbody>\n    </table>\n</div>\n","output":"str","x":1820,"y":240,"wires":[["51d701204f0308d4"]]},{"id":"dc5f74aa30e9e756","type":"change","z":"1bec09f8.8be9e6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$join($each(payload, function($v, $k) {$v}), \"\\n\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":240,"wires":[["8118a1618ee739a0"]]},{"id":"51d701204f0308d4","type":"link out","z":"1bec09f8.8be9e6","name":"","mode":"link","links":["d1614594fc2eea74","23e21e0e595938a6","8751edd62af1136d"],"x":1935,"y":240,"wires":[]},{"id":"ed3509133de70372","type":"change","z":"1bec09f8.8be9e6","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"All Light Sensors","tot":"str"},{"t":"set","p":"actions","pt":"msg","to":"[{\"link\":\"Sensors\",\"target\":\"/sensors\"}]","tot":"json"},{"t":"set","p":"url","pt":"msg","to":"$join([$globalContext(\"apiUri\"), $globalContext(\"apiKey\"), \"/sensors\"])","tot":"jsonata"},{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":240,"wires":[["876a4b987793231b"]]},{"id":"e1f17ece46a2f212","type":"link call","z":"1bec09f8.8be9e6","name":"","links":["83388d75ad0462f1"],"timeout":"30","x":310,"y":240,"wires":[["ed3509133de70372"]]},{"id":"be8fd716cde8c12e","type":"switch","z":"1bec09f8.8be9e6","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"ZHALightLevel","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":970,"y":240,"wires":[["276e82de6ebb68a8"],["dc17355e18e963ab"]]},{"id":"ae12caef03e9925c","type":"join","z":"1bec09f8.8be9e6","name":"","mode":"auto","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1470,"y":240,"wires":[["dc5f74aa30e9e756"]]},{"id":"dc17355e18e963ab","type":"change","z":"1bec09f8.8be9e6","name":"","rules":[{"t":"delete","p":"payload","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":260,"wires":[["ae12caef03e9925c"]]},{"id":"453a4ba13c642648","type":"link out","z":"1bec09f8.8be9e6","name":"","mode":"link","links":["d1614594fc2eea74","23e21e0e595938a6","8751edd62af1136d"],"x":1755,"y":120,"wires":[]},{"id":"32b61c57cef1fc79","type":"http in","z":"1bec09f8.8be9e6","name":"","url":"/sensors/edit/:key","method":"get","upload":false,"swaggerDoc":"","x":140,"y":580,"wires":[["623b654e265d1028"]]},{"id":"80abab11a66e3fb8","type":"change","z":"1bec09f8.8be9e6","name":"","rules":[{"t":"set","p":"actions","pt":"msg","to":"[{\"link\": \"View\",\"target\": \"/sensors/view/\" & req.params.key},{\"link\": \"Rename\",\"target\": \"/sensors/rename/\" & req.params.key},{\"link\": \"Sensors\", \"target\": \"/sensors\"} {\"link\":\"Light levels\",\"target\":\"/sensors/light\"}]","tot":"jsonata"},{"t":"set","p":"url","pt":"msg","to":"$globalContext(\"apiUri\") & $globalContext(\"apiKey\") & \"/sensors/\" & req.params.key","tot":"jsonata"},{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":580,"wires":[["066a6ddf279de38e"]]},{"id":"623b654e265d1028","type":"link call","z":"1bec09f8.8be9e6","name":"","links":["83388d75ad0462f1"],"timeout":"30","x":330,"y":580,"wires":[["80abab11a66e3fb8"]]},{"id":"18a25ac4600a83f1","type":"http in","z":"1bec09f8.8be9e6","name":"","url":"/sensors/edit/:key","method":"post","upload":false,"swaggerDoc":"","x":150,"y":760,"wires":[["be7929f861ad7163"]]},{"id":"cd9e620fb006c727","type":"change","z":"1bec09f8.8be9e6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\t   \"tholddark\": $number(payload.tholddark),\t   \"tholdoffset\": $number(payload.tholdoffset),\t   \"sunriseoffset\": $number(payload.sunriseoffset),\t   \"sunsetoffset\": $number(payload.sunsetoffset)\t}","tot":"jsonata"},{"t":"set","p":"url","pt":"msg","to":"$globalContext(\"apiUri\") & $globalContext(\"apiKey\") & \"/sensors/\" & req.params.key & \"/config\"","tot":"jsonata"},{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":760,"wires":[["81a6d6824f6b8529"]]},{"id":"be7929f861ad7163","type":"link call","z":"1bec09f8.8be9e6","name":"","links":["83388d75ad0462f1"],"timeout":"30","x":350,"y":760,"wires":[["cd9e620fb006c727"]]},{"id":"951692d8da247f30","type":"http in","z":"1bec09f8.8be9e6","name":"","url":"/sensors/view/:key","method":"get","upload":false,"swaggerDoc":"","x":140,"y":400,"wires":[["4db1ca7f712bee22"]]},{"id":"5d2b6e567382d95a","type":"change","z":"1bec09f8.8be9e6","name":"","rules":[{"t":"set","p":"actions","pt":"msg","to":"[{\"link\": \"Edit\",\"target\": \"/sensors/edit/\" & req.params.key},{\"link\": \"Rename\",\"target\": \"/sensors/rename/\" & req.params.key},{\"link\": \"Sensors\", \"target\": \"/sensors\"}, {\"link\":\"Light levels\",\"target\":\"/sensors/light\"}]","tot":"jsonata"},{"t":"set","p":"url","pt":"msg","to":"$globalContext(\"apiUri\") & $globalContext(\"apiKey\") & \"/sensors/\" & req.params.key","tot":"jsonata"},{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":400,"wires":[["22ac2a1866ca3b0a"]]},{"id":"4db1ca7f712bee22","type":"link call","z":"1bec09f8.8be9e6","name":"","links":["83388d75ad0462f1"],"timeout":"30","x":330,"y":400,"wires":[["5d2b6e567382d95a"]]},{"id":"4bd8f4c4a2647872","type":"http in","z":"1bec09f8.8be9e6","name":"","url":"/sensors/rename/:key","method":"get","upload":false,"swaggerDoc":"","x":150,"y":900,"wires":[["c47f961de151f998"]]},{"id":"e128483a59b0a631","type":"change","z":"1bec09f8.8be9e6","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"$globalContext(\"apiUri\") & $globalContext(\"apiKey\") & \"/sensors/\" & req.params.key","tot":"jsonata"},{"t":"set","p":"actions","pt":"msg","to":"[{\"link\":\"Sensors\",\"target\":\"/sensors\"}]","tot":"jsonata"},{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":900,"wires":[["fbb60fe62259ddc7"]]},{"id":"c47f961de151f998","type":"link call","z":"1bec09f8.8be9e6","name":"","links":["83388d75ad0462f1"],"linkType":"static","timeout":"30","x":350,"y":900,"wires":[["e128483a59b0a631"]]},{"id":"fe3930b4bffd5be7","type":"http in","z":"1bec09f8.8be9e6","name":"","url":"/sensors/rename/:key","method":"post","upload":false,"swaggerDoc":"","x":160,"y":1040,"wires":[["b6cf9d18663e37de"]]},{"id":"ad4dbaea4bac4532","type":"change","z":"1bec09f8.8be9e6","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"$globalContext(\"apiUri\") & $globalContext(\"apiKey\") & \"/sensors/\" & req.params.key","tot":"jsonata"},{"t":"delete","p":"headers","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":1040,"wires":[["d8413baae478134b"]]},{"id":"b6cf9d18663e37de","type":"link call","z":"1bec09f8.8be9e6","name":"","links":["83388d75ad0462f1"],"linkType":"static","timeout":"30","x":370,"y":1040,"wires":[["ad4dbaea4bac4532"]]},{"id":"83388d75ad0462f1","type":"link in","z":"1bec09f8.8be9e6","name":"setup","links":[],"x":55,"y":1220,"wires":[["efbc22e110721ad4"]]},{"id":"efbc22e110721ad4","type":"credentials","z":"1bec09f8.8be9e6","name":"","props":[{"value":"apiUri","type":"global"},{"value":"apiKey","type":"global"}],"x":170,"y":1220,"wires":[["6bf206cba37d108d"]]},{"id":"6bf206cba37d108d","type":"link out","z":"1bec09f8.8be9e6","name":"","mode":"return","links":[],"x":285,"y":1220,"wires":[]},{"id":"0e75d3506e65fa6c","type":"comment","z":"1bec09f8.8be9e6","name":"Setup","info":"","x":90,"y":1160,"wires":[]},{"id":"269b1579cd0fca76","type":"comment","z":"1bec09f8.8be9e6","name":"Request handlers","info":"","x":120,"y":60,"wires":[]},{"id":"4c255f215a918abe","type":"change","z":"1bec09f8.8be9e6","name":"stash config","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"config","pt":"flow","to":"payload.config","tot":"msg","dc":true},{"t":"set","p":"configText","pt":"flow","to":"$string(payload.config, true)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":400,"wires":[["1d06a021f8e7301d"]]},{"id":"1b6322bda09fa3ae","type":"change","z":"1bec09f8.8be9e6","name":"stash config","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.name","tot":"msg"},{"t":"set","p":"config","pt":"flow","to":"payload.config","tot":"msg","dc":true},{"t":"set","p":"configText","pt":"flow","to":"$string(payload.config, true)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":580,"wires":[["375a8c9a1b5fcfe8"]]},{"id":"fa1ec9ae1ab4e208","type":"change","z":"1bec09f8.8be9e6","name":"set status icons","rules":[{"t":"set","p":"payload.status","pt":"msg","to":"{\t   \"daylight\": payload.state.daylight ? '&#x2600;' : '&#xA0;',\t   \"dark\": payload.state.dark ? '&#x1F303;' : '&#xA0;',\t   \"on\": $exists(payload.config.on) ? payload.config.on ? '&#x23FB;' : '&#x274C;' : '&#xA0;',\t   \"battery\": $exists(payload.config.battery) ? payload.config.battery > 10 ? '&#x1F50B;' : '&#x274C;' : '&#xA0;',\t   \"reachable\": $exists(payload.config.reachable) ? payload.config.reachable ? '&#x1F517;' : '&#x274C;' : '&#xA0;'\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":120,"wires":[["7f0fe51007dddec8"]]},{"id":"276e82de6ebb68a8","type":"change","z":"1bec09f8.8be9e6","name":"set status icons","rules":[{"t":"set","p":"payload.status","pt":"msg","to":"{\t   \"daylight\": payload.state.daylight ? '&#x2600;' : '&#xA0;',\t   \"dark\": payload.state.dark ? '&#x1F303;' : '&#xA0;',\t   \"on\": $exists(payload.config.on) ? payload.config.on ? '&#x23FB;' : '&#x274C;' : '&#xA0;',\t   \"battery\": $exists(payload.config.battery) ? payload.config.battery > 10 ? '&#x1F50B;' : '&#x274C;' : '&#xA0;',\t   \"reachable\": $exists(payload.config.reachable) ? payload.config.reachable ? '&#x1F517;' : '&#x274C;' : '&#xA0;'\t}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":220,"wires":[["133d4bf4da479d7a"]]},{"id":"f063be14ddcff812","type":"change","z":"1bec09f8.8be9e6","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"payload.name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":900,"wires":[["33d66d6db84b72bc"]]},{"id":"2085d924effe0f06","type":"http in","z":"4ee457536bade357","name":"","url":"/css/app.css","method":"get","upload":false,"swaggerDoc":"","x":130,"y":260,"wires":[["d1c41be9df1077eb"]]},{"id":"d1c41be9df1077eb","type":"template","z":"4ee457536bade357","name":"","field":"payload","fieldType":"msg","format":"css","syntax":"mustache","template":"body, input {\n  font-family: Geneva, Arial, sans-serif;\n  font-size: 1.0em;\n}\n\nth {\n  border-bottom: 1px solid black;\n}\n\n.leftnav {\n  height: 100%;\n  width: 168px;\n  padding: 20px;\n  position: fixed;\n  z-index: 1;\n  top: 0;\n  left: 0;\n  overflow-x: hidden;\n}\n\n.leftnav a {\n    margin-bottom: 0.5em;\n}\n\n.conditions {\n  float: right;\n}\n\n.content {\n  padding-left: 180px;\n}\n\n.devices.index th,td {\n    padding: 10px;\n}\n\n.devices.index .status {\n    padding: 0;\n}","output":"str","x":320,"y":260,"wires":[["926bd53ab04220b3"]]},{"id":"926bd53ab04220b3","type":"http response","z":"4ee457536bade357","name":"","statusCode":"","headers":{"Content-Type":"text/css"},"x":470,"y":260,"wires":[]},{"id":"8751edd62af1136d","type":"link in","z":"4ee457536bade357","name":"send HTML response","links":["3a7fb930349365a4","db6db677c8972917","31d957a00025db36","c0be71def0f18b3f","453a4ba13c642648","24f643c3b0c4da83","fda1ab15b1d91018","51d701204f0308d4"],"x":55,"y":120,"wires":[["a9307ab5f4a0ed8d"]]},{"id":"aa93d214c03be2bd","type":"template","z":"4ee457536bade357","name":"Page template","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!doctype html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"utf-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.1/themes/smoothness/jquery-ui.css\">\n    <link rel=\"stylesheet\" href=\"/css/app.css\">\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js\"></script>\n    <script src=\"https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.1/jquery-ui.min.js\"></script>\n    <script src=\"/js/app.js\"></script>\n</head>\n<body>\n<div>\n    <div class=\"leftnav\">\n        {{{flow.actions}}}\n    </div>\n    <div class=\"content\">\n        <div class=\"heading\">\n            <div class=\"conditions\">\n                <div>{{now}}</div>\n                <div>Currently {{{payload.tempf}}}&deg;F</div>\n            </div>\n            <div><h3>{{topic}}</h3></div>\n        </div>\n        <div>{{{content}}}</div>\n    </div>\n</div>\n</body>\n</html>","output":"str","x":900,"y":120,"wires":[["6391cf73bf4297ff"]]},{"id":"6391cf73bf4297ff","type":"http response","z":"4ee457536bade357","name":"","statusCode":"","headers":{},"x":1070,"y":120,"wires":[]},{"id":"ec4949a07f5bfe9f","type":"http in","z":"4ee457536bade357","name":"","url":"/js/app.js","method":"get","upload":false,"swaggerDoc":"","x":110,"y":320,"wires":[["1f444148072ccf1a"]]},{"id":"1f444148072ccf1a","type":"template","z":"4ee457536bade357","name":"","field":"payload","fieldType":"msg","format":"javascript","syntax":"mustache","template":"$(function() {\n    $(document).tooltip();\n});","output":"str","x":320,"y":320,"wires":[["801207093739e1e6"]]},{"id":"801207093739e1e6","type":"http response","z":"4ee457536bade357","name":"","statusCode":"","headers":{"Content-Type":"text/javascript"},"x":470,"y":320,"wires":[]},{"id":"a9307ab5f4a0ed8d","type":"change","z":"4ee457536bade357","name":"","rules":[{"t":"set","p":"actions","pt":"flow","to":"$join(actions.('<div><a class=\"ui-button ui-widget ui-corner-all\" href=\"' & target & '\">' & link & '</a></div>'), \"\\n\")","tot":"jsonata"},{"t":"set","p":"now","pt":"msg","to":"$now(\"[Y0001]-[M01]-[D01] [H01]:[m01]:[s01] UTC\")","tot":"jsonata"},{"t":"set","p":"content","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":120,"wires":[["5ea0762bd00ee78a"]]},{"id":"60ce419b670ad4bc","type":"comment","z":"4ee457536bade357","name":"Render and respond","info":"","x":130,"y":60,"wires":[]},{"id":"a45ad0803d145395","type":"comment","z":"4ee457536bade357","name":"CSS and JavaScript assets","info":"","x":150,"y":200,"wires":[]},{"id":"5ea0762bd00ee78a","type":"link call","z":"4ee457536bade357","name":"","links":["efeb06b20debc2ca"],"linkType":"static","timeout":"30","x":420,"y":120,"wires":[["0d20b5b83b867fc7"]]},{"id":"0d20b5b83b867fc7","type":"change","z":"4ee457536bade357","name":"","rules":[{"t":"set","p":"payload.tempf","pt":"msg","to":"$round(payload.tempf, 1)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":670,"y":120,"wires":[["aa93d214c03be2bd"]]},{"id":"8df8b762087addb2","type":"credentials","z":"9378302e0e7e1c22","name":"","props":[{"value":"url","type":"msg"},{"value":"payload.ID","type":"msg"},{"value":"payload.PASSWORD","type":"msg"},{"value":"payload.action","type":"msg"}],"x":410,"y":440,"wires":[["a0548459d845f2d8"]]},{"id":"a0548459d845f2d8","type":"http request","z":"9378302e0e7e1c22","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":590,"y":440,"wires":[["53e57fbdc6b50998"]]},{"id":"53e57fbdc6b50998","type":"change","z":"9378302e0e7e1c22","name":"Sanitize response","rules":[{"t":"set","p":"payload","pt":"msg","to":"$trim(payload)","tot":"jsonata"},{"t":"delete","p":"responseUrl","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":440,"wires":[["8738d1c441e46cc7"]]},{"id":"1cf30eac55c2a346","type":"debug","z":"9378302e0e7e1c22","name":"result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"{\"result\":payload,\"measurement\":$flowContext(\"measurement\"),\"source\":topic}","targetType":"jsonata","statusVal":"","statusType":"auto","x":850,"y":240,"wires":[]},{"id":"3eb8bd99cd0ea8dc","type":"mqtt in","z":"9378302e0e7e1c22","name":"","topic":"rtl_433/21/temperature_C","qos":"0","datatype":"auto-detect","broker":"c1f2ad1917983f1a","nl":false,"rap":false,"rh":"2","inputs":0,"x":150,"y":240,"wires":[["b8ba1dd88e1eceea"]]},{"id":"cce53ddb8ea2f4a5","type":"change","z":"9378302e0e7e1c22","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"dateutc\":$fromMillis($millis(),\"[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]\"),\"tempf\":payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":280,"wires":[[]]},{"id":"b8ba1dd88e1eceea","type":"unit-converter","z":"9378302e0e7e1c22","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload","outputField":"payload","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"2","statusType":"none","name":"Convert temperature","x":400,"y":240,"wires":[["cce53ddb8ea2f4a5"]]},{"id":"60e8bd9d3bb61122","type":"link in","z":"9378302e0e7e1c22","name":"Send data to WU","links":[],"x":55,"y":440,"wires":[["ec769e071bb96ca1"]]},{"id":"8738d1c441e46cc7","type":"link out","z":"9378302e0e7e1c22","name":"return from WU send","mode":"return","links":[],"x":925,"y":440,"wires":[]},{"id":"2717a27ed182d1e0","type":"link call","z":"9378302e0e7e1c22","name":"","links":["60e8bd9d3bb61122"],"linkType":"static","timeout":"30","x":670,"y":240,"wires":[["1cf30eac55c2a346"]]},{"id":"a34caac880f22f07","type":"comment","z":"9378302e0e7e1c22","name":"Send data to WeatherUnderground","info":"Compose a payload of all of the querystring parameters\nthat should be present in the GET request to Weather\nUnderground, except for authentication details.","x":180,"y":380,"wires":[]},{"id":"ec769e071bb96ca1","type":"change","z":"9378302e0e7e1c22","name":"Stash measurement","rules":[{"t":"set","p":"measurement","pt":"flow","to":"payload","tot":"msg","dc":true},{"t":"set","p":"retry","pt":"flow","to":"3","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":200,"y":440,"wires":[["8df8b762087addb2"]]},{"id":"cbdeb2bc0de0a7f7","type":"change","z":"9378302e0e7e1c22","name":"","rules":[{"t":"set","p":"local-conditions","pt":"flow","to":"$merge([[$flowContext(\"local-conditions\"), {}][0], [payload, {}][0]])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":180,"wires":[[]]},{"id":"2555257d36426ab4","type":"inject","z":"9378302e0e7e1c22","name":"On startup","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":660,"wires":[["893e039196b6469c"]]},{"id":"893e039196b6469c","type":"file in","z":"9378302e0e7e1c22","name":"Read local-conditions","filename":"/data/persistent/local-conditions.json","filenameType":"str","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":300,"y":660,"wires":[["270d0687b1e0e1c3"]]},{"id":"b64de4d54cbdfced","type":"inject","z":"9378302e0e7e1c22","name":"Save local-conditions","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/10 0-23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"local-conditions","payloadType":"flow","x":140,"y":880,"wires":[["32816f741a283d83"]]},{"id":"dac580e85a9c7481","type":"catch","z":"9378302e0e7e1c22","name":"","scope":["893e039196b6469c"],"uncaught":false,"x":170,"y":720,"wires":[["ebd9b1180b8f47ff","17ac767f924ebd74"]]},{"id":"ebd9b1180b8f47ff","type":"change","z":"9378302e0e7e1c22","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{}","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":720,"wires":[["270d0687b1e0e1c3"]]},{"id":"7192871212ca41c4","type":"file","z":"9378302e0e7e1c22","name":"Write local-conditions","filename":"/data/persistent/local-conditions.json","filenameType":"str","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":520,"y":880,"wires":[[]]},{"id":"32816f741a283d83","type":"json","z":"9378302e0e7e1c22","name":"","property":"payload","action":"str","pretty":false,"x":330,"y":880,"wires":[["7192871212ca41c4"]]},{"id":"270d0687b1e0e1c3","type":"json","z":"9378302e0e7e1c22","name":"","property":"payload","action":"obj","pretty":false,"x":490,"y":660,"wires":[["0a8cb433c09f54ab"]]},{"id":"0a8cb433c09f54ab","type":"change","z":"9378302e0e7e1c22","name":"","rules":[{"t":"set","p":"local-conditions","pt":"flow","to":"payload","tot":"msg","dc":true}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":660,"wires":[[]]},{"id":"215d503bd70ff748","type":"comment","z":"9378302e0e7e1c22","name":"Initialize local-conditions","info":"","x":150,"y":600,"wires":[]},{"id":"78ecab64ee2827ab","type":"comment","z":"9378302e0e7e1c22","name":"Periodic save of local-conditions","info":"","x":170,"y":820,"wires":[]},{"id":"286a2c58c3bd376d","type":"comment","z":"9378302e0e7e1c22","name":"Collect sensor data and publish to WeatherUnderground","info":"","x":250,"y":40,"wires":[]},{"id":"efeb06b20debc2ca","type":"link in","z":"9378302e0e7e1c22","name":"Get local-conditions","links":[],"x":55,"y":1040,"wires":[["79dfce2d6ded59ca"]]},{"id":"79dfce2d6ded59ca","type":"change","z":"9378302e0e7e1c22","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"local-conditions","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":180,"y":1040,"wires":[["eba699e817aa9b4b"]]},{"id":"eba699e817aa9b4b","type":"link out","z":"9378302e0e7e1c22","name":"link out 1","mode":"return","links":[],"x":305,"y":1040,"wires":[]},{"id":"735c343241532391","type":"comment","z":"9378302e0e7e1c22","name":"Return local conditions","info":"","x":140,"y":980,"wires":[]},{"id":"feb25624a80ca5a4","type":"mqtt in","z":"9378302e0e7e1c22","name":"","topic":"rtl_433_events/64","qos":"0","datatype":"auto-detect","broker":"c1f2ad1917983f1a","nl":false,"rap":false,"rh":"2","inputs":0,"x":130,"y":100,"wires":[["76a2958ba28d7d98"]]},{"id":"e3f037b8a0176e1e","type":"change","z":"9378302e0e7e1c22","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"$toMillis(payload.time, \"[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]\")","tot":"jsonata"},{"t":"set","p":"payload","pt":"msg","to":"{\"dateutc\": payload.time, \"tempf\": payload.temperature_F, \"humidity\": payload.humidity, \"dewptf\": payload.dewpoint_F}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":140,"wires":[["fb33ba3e792c1ef4"]]},{"id":"fb33ba3e792c1ef4","type":"rbe","z":"9378302e0e7e1c22","name":"","func":"deadbandEq","gap":"120000","start":"","inout":"out","septopics":true,"property":"timestamp","topi":"topic","x":430,"y":180,"wires":[["cbdeb2bc0de0a7f7","2717a27ed182d1e0"]]},{"id":"3d7c188c18ea7a67","type":"unit-converter","z":"9378302e0e7e1c22","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload.temperature_C","outputField":"payload.temperature_F","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"2","statusType":"none","name":"Convert temperature","x":580,"y":100,"wires":[["bc3040bc2d12625f"]]},{"id":"76a2958ba28d7d98","type":"change","z":"9378302e0e7e1c22","name":"calculate dew point","rules":[{"t":"set","p":"payload.dewpoint_C","pt":"msg","to":"$round(payload.temperature_C - ((100 - payload.humidity) / 5), 2)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":100,"wires":[["3d7c188c18ea7a67"]]},{"id":"bc3040bc2d12625f","type":"unit-converter","z":"9378302e0e7e1c22","category":"temperature","inputUnit":"C","outputUnit":"F","inputField":"payload.dewpoint_C","outputField":"payload.dewpoint_F","inputFieldType":"msg","outputFieldType":"msg","roundOutputField":true,"outputFieldDecimals":"2","statusType":"none","name":"Convert dew point","x":810,"y":100,"wires":[["e3f037b8a0176e1e"]]},{"id":"6ace51996e59cdad","type":"catch","z":"9378302e0e7e1c22","name":"","scope":["a0548459d845f2d8"],"uncaught":false,"x":90,"y":500,"wires":[["fb2f474a2bfb4ce0"]]},{"id":"d7d7f33a1c578197","type":"change","z":"9378302e0e7e1c22","name":"Set up retry","rules":[{"t":"set","p":"payload","pt":"msg","to":"measurement","tot":"flow"},{"t":"set","p":"retry","pt":"flow","to":"$flowContext(\"retry\") - 1","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":500,"wires":[["0dd06b30971521ce"]]},{"id":"0dd06b30971521ce","type":"switch","z":"9378302e0e7e1c22","name":"try again?","property":"retry","propertyType":"flow","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":580,"y":500,"wires":[["8df8b762087addb2"],["cd554e259f134fa5"]]},{"id":"cd554e259f134fa5","type":"change","z":"9378302e0e7e1c22","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"too many retries","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":500,"wires":[["53e57fbdc6b50998"]]},{"id":"fb2f474a2bfb4ce0","type":"delay","z":"9378302e0e7e1c22","name":"","pauseType":"random","timeout":"30","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"20","randomLast":"30","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":240,"y":500,"wires":[["d7d7f33a1c578197"]]},{"id":"17ac767f924ebd74","type":"debug","z":"9378302e0e7e1c22","name":"debug 12","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":300,"y":760,"wires":[]},{"id":"8cdfbd7c63ebc7ca","type":"http request","z":"332a78fa37f117d8","name":"","method":"GET","ret":"txt","paytoqs":"query","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":650,"y":80,"wires":[["321c4f2fe5c8a31c"]]},{"id":"6875117267ecdf3d","type":"credentials","z":"332a78fa37f117d8","name":"","props":[{"value":"airnow_apiKey","type":"flow"},{"value":"baseUrl","type":"msg"}],"x":270,"y":80,"wires":[["9ed46b4eac5964e2"]]},{"id":"d8e5e8e0826f8f75","type":"inject","z":"332a78fa37f117d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"*/30 0-23 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":80,"wires":[["6875117267ecdf3d"]]},{"id":"9ed46b4eac5964e2","type":"change","z":"332a78fa37f117d8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"latitude\":44.2541667,\"longitude\":-88.3788889,\"distance\":25,\"format\":\"json\",\"api_key\":$flowContext(\"airnow_apiKey\")}","tot":"jsonata"},{"t":"set","p":"url","pt":"msg","to":"baseUrl & \"/aq/observation/latLong/current\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":80,"wires":[["8cdfbd7c63ebc7ca"]]},{"id":"321c4f2fe5c8a31c","type":"json","z":"332a78fa37f117d8","name":"","property":"payload","action":"","pretty":false,"x":810,"y":80,"wires":[["3f2689588b9584d9","be6b4b7b7e6cce2b"]]},{"id":"3f2689588b9584d9","type":"mqtt out","z":"332a78fa37f117d8","name":"","topic":"airnow/events","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ac2eb1361fd377dc","x":980,"y":80,"wires":[]},{"id":"f70425526c51266e","type":"mqtt in","z":"332a78fa37f117d8","name":"","topic":"airnow/conditions/#","qos":"2","datatype":"auto-detect","broker":"c1f2ad1917983f1a","nl":false,"rap":true,"rh":0,"inputs":0,"x":130,"y":160,"wires":[["03ae5babd4e3bc50"]]},{"id":"03ae5babd4e3bc50","type":"debug","z":"332a78fa37f117d8","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":320,"y":160,"wires":[]},{"id":"be6b4b7b7e6cce2b","type":"function","z":"332a78fa37f117d8","name":"split MQTT topics","func":"const mqttsplit = object => Object\n    .entries(object)\n    .reduce((r, [k, v]) => {\n        if (v && typeof v === 'object') {\n            r.push(...mqttsplit(v).map(item => ({ topic: k.toLowerCase() + '/' + item.topic, payload: item.payload })));\n        } else if (v && typeof v === 'string') {\n            r.push({ topic: k.toLowerCase(), payload: v.trim() });\n        } else {\n            r.push({ topic: k.toLowerCase(), payload: v });\n        }\n        return r;\n    }, []);\nreturn [mqttsplit(msg.payload)];","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":160,"wires":[["ad99d188a1167f6e"]]},{"id":"ad99d188a1167f6e","type":"change","z":"332a78fa37f117d8","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"\"airnow/conditions/\" & topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1000,"y":160,"wires":[["c140fc2cece31eed"]]},{"id":"c140fc2cece31eed","type":"mqtt out","z":"332a78fa37f117d8","name":"","topic":"","qos":"1","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"ac2eb1361fd377dc","x":1170,"y":160,"wires":[]},{"id":"535a92d9cdabd78a","type":"mqtt in","z":"a0bf23683bf19dc8","name":"","topic":"zigbee2mqtt/#","qos":"0","datatype":"auto-detect","broker":"c1f2ad1917983f1a","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":60,"wires":[["c8ba1a11b79946df"]]},{"id":"c8ba1a11b79946df","type":"debug","z":"a0bf23683bf19dc8","name":"debug 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":60,"wires":[]},{"id":"aee233488dbef1d7","type":"mqtt out","z":"a0bf23683bf19dc8","name":"","topic":"zigbee2mqtt/bridge/request/backup","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c1f2ad1917983f1a","x":390,"y":140,"wires":[]},{"id":"c11eb66f0a009810","type":"inject","z":"a0bf23683bf19dc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":140,"wires":[["aee233488dbef1d7"]]},{"id":"343bac50de580786","type":"inject","z":"a0bf23683bf19dc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"$now(\"[Y0001]-[M01]-[D01] [H01]:[m01]:[s01] UTC\")","payloadType":"jsonata","x":90,"y":220,"wires":[["1b75f460809894b8"]]},{"id":"1b75f460809894b8","type":"template","z":"a0bf23683bf19dc8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{payload}}","output":"str","x":260,"y":220,"wires":[["39ac5fa4c3185911"]]},{"id":"39ac5fa4c3185911","type":"debug","z":"a0bf23683bf19dc8","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":420,"y":220,"wires":[]},{"id":"4e52f11716ffd932","type":"mqtt in","z":"a0bf23683bf19dc8","name":"","topic":"myq/#","qos":"0","datatype":"auto-detect","broker":"c1f2ad1917983f1a","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":300,"wires":[["656d116be7145f35"]]},{"id":"656d116be7145f35","type":"debug","z":"a0bf23683bf19dc8","name":"debug 6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":300,"wires":[]},{"id":"e20d2747a5f79529","type":"mqtt out","z":"a0bf23683bf19dc8","name":"","topic":"myq/CG08461534E9/garagedoor/get","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c1f2ad1917983f1a","x":370,"y":360,"wires":[]},{"id":"00144ec70c23cb6d","type":"inject","z":"a0bf23683bf19dc8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":360,"wires":[["e20d2747a5f79529"]]},{"id":"6b0353d4b455a387","type":"mqtt in","z":"a0bf23683bf19dc8","name":"","topic":"rtl_433_test_events/#","qos":"2","datatype":"auto-detect","broker":"c1f2ad1917983f1a","nl":false,"rap":true,"rh":0,"inputs":0,"x":140,"y":460,"wires":[["bfa5fa54217a2b73"]]},{"id":"5beb11dc49c5a8be","type":"debug","z":"a0bf23683bf19dc8","name":"debug 7","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":520,"wires":[]},{"id":"5801f795a7db7385","type":"mqtt in","z":"a0bf23683bf19dc8","name":"","topic":"rtl_433_events/#","qos":"2","datatype":"auto-detect","broker":"c1f2ad1917983f1a","nl":false,"rap":true,"rh":0,"inputs":0,"x":120,"y":520,"wires":[["59e32c7b46d9164e"]]},{"id":"8358349f5ee802a7","type":"switch","z":"a0bf23683bf19dc8","name":"","property":"payload.id","propertyType":"msg","rules":[{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"53","vt":"num"},{"t":"eq","v":"253","vt":"num"},{"t":"eq","v":"21","vt":"num"},{"t":"eq","v":"23","vt":"num"},{"t":"eq","v":"64","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":7,"x":690,"y":520,"wires":[[],[],[],["5beb11dc49c5a8be"],["5beb11dc49c5a8be"],["5beb11dc49c5a8be"],["d1a33b88473644d0"]]},{"id":"d1a33b88473644d0","type":"debug","z":"a0bf23683bf19dc8","name":"debug 11","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":840,"y":560,"wires":[]},{"id":"c1621025dd9f8c4b","type":"rbe","z":"a0bf23683bf19dc8","name":"","func":"deadbandEq","gap":"120000","start":"","inout":"out","septopics":true,"property":"timestamp","topi":"topic","x":530,"y":560,"wires":[[]]},{"id":"59e32c7b46d9164e","type":"change","z":"a0bf23683bf19dc8","name":"","rules":[{"t":"set","p":"timestamp","pt":"msg","to":"$toMillis(payload.time, \"[Y0001]-[M01]-[D01] [H01]:[m01]:[s01]\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":520,"wires":[["c1621025dd9f8c4b","8358349f5ee802a7"]]},{"id":"bfa5fa54217a2b73","type":"debug","z":"a0bf23683bf19dc8","name":"debug 14","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":340,"y":460,"wires":[]},{"id":"1227ad63e3ce29c4","type":"inject","z":"06e8cf1979364594","name":"370","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"method","v":"PUT","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/lights/4/state","payload":"{\"bri\":254,\"ct\":370,\"on\":true}","payloadType":"json","x":90,"y":60,"wires":[["82928970bd42e69a"]]},{"id":"a6ae61557900448d","type":"credentials","z":"06e8cf1979364594","name":"","props":[{"value":"apiUrl","type":"msg"},{"value":"apiKey","type":"msg"}],"x":530,"y":300,"wires":[["5c5454093f2103c7"]]},{"id":"5c5454093f2103c7","type":"change","z":"06e8cf1979364594","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"apiUrl & \"/\" & apiKey & topic","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":340,"wires":[["ac130448bb589928"]]},{"id":"ac130448bb589928","type":"http request","z":"06e8cf1979364594","name":"","method":"use","ret":"txt","paytoqs":"body","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":610,"y":380,"wires":[["3a4738d985581803"]]},{"id":"5a0339a6b24a1b5f","type":"debug","z":"06e8cf1979364594","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":460,"wires":[]},{"id":"1c00de6b08a1762b","type":"inject","z":"06e8cf1979364594","name":"Off","props":[{"p":"payload"},{"p":"topic","vt":"str"},{"p":"method","v":"PUT","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/lights/4/state","payload":"{\"on\":false}","payloadType":"json","x":90,"y":100,"wires":[["82928970bd42e69a"]]},{"id":"85f30e8d38c34003","type":"inject","z":"06e8cf1979364594","name":"370","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/lights/5/state","payload":"{\"bri\":254,\"ct\":370,\"on\":true}","payloadType":"json","x":90,"y":140,"wires":[["82928970bd42e69a"]]},{"id":"42c8690f905d3e02","type":"inject","z":"06e8cf1979364594","name":"Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/lights/5/state","payload":"{\"on\":false}","payloadType":"json","x":90,"y":180,"wires":[["82928970bd42e69a"]]},{"id":"6b03566cf8cb94f6","type":"inject","z":"06e8cf1979364594","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/lights/6","payload":"","payloadType":"date","x":130,"y":540,"wires":[["a74d09b8f1fd15e5"]]},{"id":"a74d09b8f1fd15e5","type":"change","z":"06e8cf1979364594","name":"GET method","rules":[{"t":"set","p":"method","pt":"msg","to":"GET","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":440,"wires":[["a6ae61557900448d"]]},{"id":"82928970bd42e69a","type":"change","z":"06e8cf1979364594","name":"PUT method","rules":[{"t":"set","p":"method","pt":"msg","to":"PUT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":160,"wires":[["a6ae61557900448d"]]},{"id":"dab15545a19bb156","type":"inject","z":"06e8cf1979364594","name":"370","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/lights/6/state","payload":"{\"bri\":254,\"ct\":370,\"on\":true}","payloadType":"json","x":90,"y":220,"wires":[["82928970bd42e69a"]]},{"id":"c327bceaa8580e0e","type":"inject","z":"06e8cf1979364594","name":"Off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/lights/6/state","payload":"{\"on\":false}","payloadType":"json","x":90,"y":260,"wires":[["82928970bd42e69a"]]},{"id":"43919c36d33f763f","type":"inject","z":"06e8cf1979364594","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/lights/5","payload":"","payloadType":"date","x":130,"y":500,"wires":[["a74d09b8f1fd15e5"]]},{"id":"8d0b672955f07d75","type":"inject","z":"06e8cf1979364594","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/lights/4","payload":"","payloadType":"date","x":130,"y":460,"wires":[["a74d09b8f1fd15e5"]]},{"id":"3a4738d985581803","type":"json","z":"06e8cf1979364594","name":"","property":"payload","action":"","pretty":false,"x":630,"y":420,"wires":[["5a0339a6b24a1b5f"]]},{"id":"f5d79b8b1465a866","type":"inject","z":"06e8cf1979364594","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/lights","payload":"","payloadType":"date","x":120,"y":340,"wires":[["a74d09b8f1fd15e5"]]},{"id":"306c552cc39c5c87","type":"inject","z":"06e8cf1979364594","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/lights/3","payload":"","payloadType":"date","x":130,"y":420,"wires":[["a74d09b8f1fd15e5"]]},{"id":"1a7bb54a89c181f1","type":"inject","z":"06e8cf1979364594","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"/lights/2","payload":"","payloadType":"date","x":130,"y":380,"wires":[["a74d09b8f1fd15e5"]]},{"id":"48aca669a24417f4","type":"mqtt in","z":"65d068f23d4fb4d3","name":"TTN E4:70","topic":"v3/scottreynolds-environment-sensors@ttn/devices/+/up","qos":"0","datatype":"auto-detect","broker":"626b68d35c240c5e","nl":false,"rap":true,"rh":0,"inputs":0,"x":100,"y":60,"wires":[["3c5bb62ea5afaed4"]]},{"id":"7678d3af69f59fff","type":"debug","z":"65d068f23d4fb4d3","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":60,"wires":[]},{"id":"ae74e65850976e89","type":"inject","z":"65d068f23d4fb4d3","name":"LED on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x01\"]","payloadType":"bin","x":90,"y":260,"wires":[["427ac8b1b8d764f9"]]},{"id":"09fc6e383f5832cb","type":"mqtt out","z":"65d068f23d4fb4d3","name":"TTN E4:70","topic":"v3/scottreynolds-lora-e5-app@ttn/devices/eui-2cf7f1203230e470/down/push","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"626b68d35c240c5e","x":610,"y":280,"wires":[]},{"id":"450e469901c8a7a5","type":"inject","z":"65d068f23d4fb4d3","name":"LED off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x00\"]","payloadType":"bin","x":90,"y":300,"wires":[["427ac8b1b8d764f9"]]},{"id":"427ac8b1b8d764f9","type":"function","z":"65d068f23d4fb4d3","name":"to base64","func":"msg.payload = msg.payload.toString(\"base64\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":280,"wires":[["e96f4676548aff6f"]]},{"id":"e96f4676548aff6f","type":"change","z":"65d068f23d4fb4d3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"downlinks\":[{\"f_port\":1,\"frm_payload\":payload,\"priority\":\"NORMAL\"}]}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":280,"wires":[["09fc6e383f5832cb"]]},{"id":"88394915cac34168","type":"inject","z":"65d068f23d4fb4d3","name":"LED on","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x01\"]","payloadType":"bin","x":90,"y":540,"wires":[["50838dd6a2a96933"]]},{"id":"a525513722d7f9ad","type":"mqtt out","z":"65d068f23d4fb4d3","name":"TTN BE:AD","topic":"v3/scottreynolds-lora-counter@ttn/devices/eui-2cf7f1203230bead/down/push","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"7d1fad91498d6624","x":610,"y":560,"wires":[]},{"id":"8a64a6644cf93de3","type":"inject","z":"65d068f23d4fb4d3","name":"LED off","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[\"0x00\"]","payloadType":"bin","x":90,"y":580,"wires":[["50838dd6a2a96933"]]},{"id":"50838dd6a2a96933","type":"function","z":"65d068f23d4fb4d3","name":"to base64","func":"msg.payload = msg.payload.toString(\"base64\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":560,"wires":[["48b52005392ede1b"]]},{"id":"48b52005392ede1b","type":"change","z":"65d068f23d4fb4d3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"downlinks\":[{\"f_port\":1,\"frm_payload\":payload,\"priority\":\"NORMAL\"}]}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":560,"wires":[["a525513722d7f9ad"]]},{"id":"c1770b582a0aec5d","type":"mqtt in","z":"65d068f23d4fb4d3","name":"TTN BE:AD","topic":"v3/scottreynolds-lora-counter@ttn/devices/+/up","qos":"0","datatype":"auto-detect","broker":"7d1fad91498d6624","nl":false,"rap":true,"rh":0,"inputs":0,"x":110,"y":480,"wires":[["3cdd24ffc6681c11"]]},{"id":"7a98d7eaef0431fb","type":"debug","z":"65d068f23d4fb4d3","name":"debug 16","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":600,"y":480,"wires":[]},{"id":"3cdd24ffc6681c11","type":"change","z":"65d068f23d4fb4d3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"airtime\":$number($substringBefore(payload.uplink_message.consumed_airtime,\"s\")), \"timestamp\":$toMillis(payload.uplink_message.received_at),\"measurement\":payload.uplink_message.decoded_payload}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":300,"y":480,"wires":[["7a98d7eaef0431fb"]]},{"id":"3c5bb62ea5afaed4","type":"change","z":"65d068f23d4fb4d3","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"airtime\":$number($substringBefore(payload.uplink_message.consumed_airtime,\"s\")), \"timestamp\":$toMillis(payload.uplink_message.received_at),\"measurement\":payload.uplink_message.normalized_payload[0]}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":60,"wires":[["556506342df93a32"]]},{"id":"556506342df93a32","type":"switch","z":"65d068f23d4fb4d3","name":"","property":"total_airtime","propertyType":"flow","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":60,"wires":[["ad70ad5ee83f0d59"],["d387f0d0d45ae8e7"]]},{"id":"ad70ad5ee83f0d59","type":"change","z":"65d068f23d4fb4d3","name":"","rules":[{"t":"set","p":"total_airtime","pt":"flow","to":"payload.airtime","tot":"msg"},{"t":"set","p":"start_time","pt":"flow","to":"payload.timestamp","tot":"msg"},{"t":"set","p":"payload.rate","pt":"msg","to":"0","tot":"num"},{"t":"set","p":"payload.rate_data","pt":"msg","to":"{\"start_time\":$flowContext(\"start_time\"),\"total_airtime\":$flowContext(\"total_airtime\")}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":40,"wires":[["7678d3af69f59fff"]]},{"id":"d387f0d0d45ae8e7","type":"change","z":"65d068f23d4fb4d3","name":"","rules":[{"t":"set","p":"total_airtime","pt":"flow","to":"$flowContext('total_airtime') + payload.airtime","tot":"jsonata"},{"t":"set","p":"payload.rate","pt":"msg","to":"$flowContext(\"total_airtime\")*86400000/(payload.timestamp - $flowContext(\"start_time\"))","tot":"jsonata"},{"t":"set","p":"payload.rate_data","pt":"msg","to":"{\"start_time\":$flowContext(\"start_time\"),\"elapsed\":payload.timestamp - $flowContext(\"start_time\"),\"total_airtime\":$flowContext(\"total_airtime\")}","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":80,"wires":[["7678d3af69f59fff"]]},{"id":"dda2d7ce9d4575f3","type":"inject","z":"65d068f23d4fb4d3","name":"Reset airtime","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":110,"y":120,"wires":[["3bfbea34a5f571aa"]]},{"id":"3bfbea34a5f571aa","type":"change","z":"65d068f23d4fb4d3","name":"","rules":[{"t":"set","p":"total_airtime","pt":"flow","to":"null","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":120,"wires":[[]]},{"id":"9e034e3ae3051539","type":"http in","z":"ee25042df854f785","name":"","url":"/slack","method":"get","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["6a7a40cfbf2524cb","8115c547c2b949b2"]]},{"id":"6a7a40cfbf2524cb","type":"http response","z":"ee25042df854f785","name":"","statusCode":"200","headers":{},"x":300,"y":100,"wires":[]},{"id":"8115c547c2b949b2","type":"debug","z":"ee25042df854f785","name":"debug 9","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":160,"wires":[]},{"id":"a57abfdb5a50b5d8","type":"inject","z":"ee25042df854f785","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":260,"wires":[["386896afa660ba5c"]]},{"id":"386896afa660ba5c","type":"http request","z":"ee25042df854f785","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://update.k3s.io/v1-release/channels","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":270,"y":260,"wires":[["8fdb90c197f6d680"]]},{"id":"da619f17ccb4dceb","type":"debug","z":"ee25042df854f785","name":"debug 10","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":260,"wires":[]},{"id":"8fdb90c197f6d680","type":"json","z":"ee25042df854f785","name":"","property":"payload","action":"","pretty":false,"x":430,"y":260,"wires":[["da619f17ccb4dceb"]]}]